{
    "mcpServers": {
        "awsCost": {
            "command": "uv",
            "args": [
                "--directory",
                "/path/to/awsCost",
                "run",
                "mcp_cost.py"
            ]
        }
    }
}